<div class="cd">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    style="background-color: white; position: relative; top: 1rem"
  >
    <div class="container-fluid dd">
      <a class="navbar-brand dd1" href="#"
        ><img
          style="box-shadow: 1px 1px 12px #ebebeb, -1px -1px 9px #e4e4e4"
          src="assets/photo/Untitled design.png"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"
          ><img style="width: 1.5rem" src="assets/photo/list.png" alt=""
        /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active to" aria-current="page" routerLink="/home"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link to" routerLink="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link to" routerLink="/about">About-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link to" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1
    style="
      font-size: xxx-large;
      text-align: center;
      font-weight: 400;
      color: #9b9b9b;
      margin-top: 1rem;
    "
  >
    Contact
  </h1>
</div>
<main>
  <section class="contact-section">
    <h2>Contact Us</h2>

    <div class="contact-methods">
      <div class="contact-method">
        <i class="fab fa-whatsapp"></i>
        <p>
          WhatsApp:
          <a href="https://wa.me/+201005814795" target="_blank">اتصل واتساب</a>
        </p>
      </div>
      <div class="contact-method">
        <i class="fab fa-facebook"></i>
        <p>
          Facebook:
          <a
            href="https://www.facebook.com/profile.php?id=100076035484738"
            target="_blank"
            >زور صفحة الفيسبوك</a
          >
        </p>
      </div>
      <div class="contact-method">
        <i class="far fa-envelope"></i>
        <p>
          اتصل الان: <a href="tel:+201005814795" target="_blank">اضغط الان</a>
        </p>
      </div>
    </div>
    <div>
     => 01005814795 <=
      <br>
    </div>
    <div>

          =>  01015643260 <=

    </div>

    <form
      action=" https://formsubmit.co/afmgamers192@gmail.com "
      method="POST"
      class="contact-form"
    >
      <label for="name">الاسم:</label>
      <input type="text" id="name" name="name" placeholder="اكتب اسمك هنا" required />

      <label for="number">رقم الهاتف:</label>
      <input type="number" id="number" name="phone" placeholder="اكتب رقم هاتفك"  required />

            <label for="email">الايميل :</label>
      <input type="email" id="email" name="email" placeholder="اكتب الايميل الخاص بك"  required />

      <label for="message">الرسالة:</label>
      <textarea id="message" name="message" rows="5" placeholder="اكتب ماذا تريد"  required></textarea>

      <button type="submit">ابعت الرسالة</button>
    </form>
  </section>
</main>
