
<router-outlet></router-outlet>

<footer style="background-color: black;">
  <div style="text-align: center;">
    <div style="display: flex; text-align: center; justify-content: center;">
      <a href="https://www.facebook.com/profile.php?id=100076035484738" target="_blank" title="MG">
        <img style="width: 3rem;" src="assets/photo/Facebook-Logosu (1).png" alt="face1">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100055964772605" target="_blank" title="العالمية">
        <img style="width: 3rem;" src="assets/photo/Facebook-Logosu (1).png" alt="face2">
      </a>
    </div>
    <div style="color: white; margin-top: 1rem;">حقوق الطبع والنشر محفوظة &copy; MG</div>
    <div style="color: white; margin-top: 1rem;">+20 1015643260</div>
    <div style="color: white;">+20 1005814795</div>
    <div style="color: white; margin-top: 1rem;">
      &copy; <a style="text-decoration: none; color: white;" href="https://www.facebook.com/AMNdesigner" target="_blank" title="Go To Creator Page">
        <u>Ahmed el_digital</u>
      </a>
    </div>
  </div>
</footer>
<div id="rain-container" class="rain"></div>
